<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VAPW_Sem_Proj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VAPW_Sem_Proj.Properties.Settings>
            <setting name="ColorDefault" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="ColorTurnLeft" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="ColorTurnRight" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ColorAcceleration" serializeAs="String">
                <value>Green</value>
            </setting>
        </VAPW_Sem_Proj.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add connectionString="Data Source=147.230.21.212;Initial Catalog=VAPW_PS_Drives;User ID=vapw;Password=cv1k0;Trust Server Certificate=True"
    name="Pripojeni"/>
	</connectionStrings>
</configuration>